<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>

<mmain class="l-main">
    <section class="about me">
      <div class="container">
        <div class="about-content">
          <h1> About Me </h1>
          <p>Experienced Lab Assistant with more than 10 years of administrative
            experience, proficient at supporting teams by performing standard laboratory 
            office functions efficiently, with a strong ability to make appropriate 
            technical decisions critical thinking and problem solving.</p>
        </div>
        <div class="home-img" about-content>
          <img src="/images/FBPhoto.jpg">
        </div>
        <a href="/resume/Resume_RRobles - Copy.pdf" class="about-resume-btn" target="_blank" >See my Resume</a>
      </div>
    </section>
  </main>