<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>

<h1> Contact Me: </h1>
  <p> Email : rxcrobles@gmail.com</p>
  <p> Phone no: +1 4379881181</p>
  
  <main class="l-main" >
  <section class="contactme">
    <div class="container">
      <div class="contactme-content">
        <div class="mb-3">
          <p> For Further queries, please fill the form below :</p>
          <label for="exampleFormControlInput1" class="form-label">Name:</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" width: 40% placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Mobile Number:</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email Address:</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Message:</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <button type="button"  class="btn btn-outline-success"  >Submit</button>
      </div>
  </section>
</main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
